@model IOrderedQueryable<SlackDAW1.Models.Message>

<h2>Messages</h2>

<button class="btn-secondary"><a style="text-decoration: none" href="/Messages/New">Create new message</a></button>


<table class="table">
    <tr>
        <th>Message</th>
        <th>Channel</th>
        <th>Timestamp</th>
        <th></th>
    </tr>

@foreach (var message in Model) {
    <tr>
        <td>@message.Body</td>
        <td>@message.Channel.ChannelName</td>
        <td>@message.Timestamp</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = message.MessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id = message.MessageID }) |
            @Html.ActionLink("Details", "Show", new { id = message.MessageID })
        </td>
    </tr>
}
</table>
