@model SlackDAW1.Models.ApplicationUser;

@{
	ViewBag.Title = "Users";
}

<h2>Users to invite</h2>


<style>
	.table {
		color: #fff;
	}
</style>

<table class="table">
	<tr>
		<th>Username</th>
		<th>Email</th>
		<th></th>
	</tr>

	@foreach (var user in ViewBag.UsersNotInChannel)
	{
		<tr>
			<td>@user.UserName</td>
			<td>@user.Email</td>
			<td>
				<form action="@Url.Action("Invite", "Users")" method="POST">
					<input type="hidden" name="userId" value="@user.Id" />
					<input type="hidden" name="channelId" value="@ViewBag.ChannelID" />
					<button type="submit" class="btn btn-primary">Invite</button>
				</form>
			</td>
		</tr>
	}
</table>